* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 100%;
}

img {
  display: block;
  max-width: 100%;
}

input, button, select, textarea {
  font: inherit;
}

ul, ol {
  list-style: none;
}

#notePopUp {
    margin: auto;
}