.notes-app .notes-container {
    padding: 1.5em;
}

.notes-app .notes-container .notes-list {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    gap: 1em;
    align-items: start;
}

.empty-notes-message {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    color: #000;
    font-size: 1.7rem;
}

.empty-notes-message p {
    margin: 0.25rem 0;
}

@media (max-width: 480px) {
    .notes-app .notes-container .notes-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 480px) and (max-width: 680px) {
    .notes-app .notes-container .notes-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
